{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="topnews">
    <div class="row">

        {% for r_blog in random_blogs %}
        <div class="column">
            <div class="title">

                <div class="img"></div>
                <img src="{{ r_blog.blog_image.url }}" height="250px" width="100%">
                <h2>{{ r_blog.blog_title}} </h2>
                <p>{{ r_blog.blog_body | truncatechars:300 }}</p>
                <a href="{% url 'Blog_app:detail_blog' r_blog.id %}">Readmore...</a>
            </div>

        </div>
        {% endfor %}



    </div>
</div>


<div class="newslist">
    <h3><b><u>Recent News</u></b></h3>
{%  for l_blog in latest_blogs %}
    <div class="news">
        <div class="news-title">
            <h2>{{ l_blog.blog_title}}</h2>
        </div>
        <div class="news-body">
            <div class="row1">
                <div class="newslistcolumn1">
                    <p2>{{l_blog.pub_date}} | By {{ l_blog.blog_author }}</p2>

                    <p>{{ l_blog.blog_body | truncatechars:200}}</p>
                    <a href="{% url 'Blog_app:detail_blog' l_blog.id %}">Readmore...</a>
                </div>
                <div class="newslistcolumn2">
                    <img src="{{ l_blog.blog_image.url }}" height="150px" width="300px">
                </div>
            </div>
        </div>
    </div>
{% endfor %}


</div>
{#    <div class="pag" style="text-align: center">#}
{#    {% include "partials/pagination.html" %}#}
{#    </div>#}

{% endblock %}

