{% extends 'custom_admin_base.html' %}
{% load crispy_forms_tags %}
{% block custom-admin %}
    <div style="margin-left: 50px; margin-right: 50px">
        <h1>ADD CATEGORY</h1>


        <div style="margin-left: 50px">
            <form method="post" action="">
                {% csrf_token %}
                {{ my_form| crispy }}
                <div>
                    {#            {% for error in my_form.category_name.errors %}#}
                    {#                <p>{{  my_form.category_name.errors }}</p>#}
                    {#            {% endfor %}#}
                </div>
                <hr>
                <div style="float: right;padding-top: 30px;margin-right: 100px">
                    <button type="submit"
                            style="background-color: darkcyan;padding: 15px 32px;text-align: center;text-decoration: none; font-size: 16px;">
                        save
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}