{% extends 'custom_admin_base.html' %}
{% block custom-admin %}
    <div style="margin-left: 25px">


        <h1 style="text-align:left;float:left;">Select category to change</h1>
        <h3 style="text-align:right;float:right; background-color: gray ;margin-right: 50px;padding-left: 25px;padding-right: 25px; border-radius: 25%">
            <a href="{% url 'Custom_Admin:add_category' %}" style="text-decoration: none">Add Category</a></h3>
        <hr style="clear:both;"/>

        <ul>
            {% for cat in categories %}
                <li style=""><a href="{% url 'Custom_Admin:admin_category_update' cat.id %}"
                                style="text-decoration: none">{{ cat.category_name }}</a>
                </li>
                <hr>
            {% endfor %}

        </ul>
    </div>

{% endblock %}