{% extends 'custom_admin_base.html' %}
{% block custom-admin %}

    <div style=" margin-left:40px;width: 500px; height: auto; ">
    <div>
        <h3 style=" color: yellow; background-color:darkcyan;text-align: left;">App Name</h3>

        <h3 style=" color: darkcyan; text-align: left;"><a
                href="{% url 'Custom_Admin:category_list' %}">Category</a><span
                style="float: right;padding-right: 25px;"><a href="{% url 'Custom_Admin:add_category' %}">Add</a></span>
        </h3>
        <hr>
        <h3 style=" color: darkcyan; text-align: left;"><a href="{% url 'Custom_Admin:admin_blog_list' %}">Blog
            posts</a><span style="float: right;padding-right: 25px;"><a href="{% url 'Custom_Admin:add_blog' %}">Add</a></span>
        </h3>
        <hr>
    </div>


    </div>

{% endblock %}